<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <title>Document</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% spaceless %}
            {% block body %}{% endblock %}
            {% block script %}{% endblock %}
            <script async defer src="./dist/fonts.js?v=190328-1510"></script>
            <script defer src="./dist/styles.js?v=190530-0528"></script>
            <script defer src="./dist/images.js?v=190530-0528"></script>
            <script defer src="./dist/scripts.js?v=190530-0528"></script>
        {% endspaceless %}
    </body>
</html>
