{% extends "_main.twig" %}
{% block body %}
    <header class="video-header">
        <div class="overlay"></div>
        <video autoplay="autoplay" class="video" loop="loop" muted="muted" playsinline="playsinline">
            <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-3">Video Header</h1>
                </div>
                <div class="w-100 position-absolute absolute-bottom">
                    <small class="text-white">SCROLL</small>
                    <br>
                    <span class="arrow-down"></span>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
