{% extends "_main.twig" %}
{% block body %}
    {# <p>Hola</p>
        <p>que hace?</p> #}

    <!doctype html>
    <html>
        <head>
            <script src="bundle.js"></head>
            <body></body>
        </head>
    </html>
{% endblock %}
