{% extends "_main.twig" %}
{% block body %}
    <header class="video-header">
        <div class="overlay"></div>
        <video autoplay="autoplay" class="video" loop="loop" muted="muted" playsinline="playsinline">
            <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-3">DEJA QUE TUS SUEÑOS
                        <br>
                        TOQUEN FONDO
                    </h1>
                </div>
                <div class="w-100 position-absolute absolute-bottom absolute-right py-2">
                    <small class="text-white">SCROLL</small>
                    <br>
                    <span class="arrow-down"></span>
                </div>
            </div>
        </div>
    </header>

    <section class="container text-center py-5 my-md-5" id="aboutUs">
        <h1>NOSOTROS</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam justo justo, congue at diam et, malesuada ultricies risus. Phasellus sodales ultrices metus vel convallis. Nulla vel turpis sed neque dictum euismod ut nec arcu. Ut urna enim, commodo sit amet gravida sit amet, sagittis at nibh. Aliquam erat volutpat. Donec pharetra mi et pulvinar congue. In in sapien in purus congue pretium. Nullam id metus purus. Sed viverra augue vitae commodo accumsan. Etiam non arcu vel augue volutpat gravida. Mauris ac mauris nisl. Ut at pellentesque nibh, in ornare metus. Nam non nibh suscipit, aliquam sem non, tincidunt quam.
        </p>
    </section>

    <section class="container-fluid background-blue floating-section px-0 my-md-5" id="nationalQuality">
        <div class="row no-gutters">
            <div class="col-12 col-md-7">
                <img alt="" class="img-fluid w-100" src="https://via.placeholder.com/900x400">
            </div>
            <div class="col-12 col-md-5 px-3 px-md-5 py-3 pt-md-5 text-center text-md-left">
                <h1 class="text-white">CALIDAD NACIONAL</h1>
                <p class="text-white px-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus ex ut laoreet consequat. In venenatis justo tellus, vel lobortis massa accumsan sed. Morbi eu ligula sollicitudin, laoreet odio a, varius mi. Mauris rhoncus mauris vel accumsan pulvinar. Donec faucibus dapibus nisi, a condimentum risus. Vestibulum facilisis libero eu dapibus blandit.
                </p>
                <p class="text-white px-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus ex ut laoreet consequat.
                </p>
            </div>
        </div>
    </section>

    <section class="container text-center py-5 my-md-5" id="contactUs">
        <h1>CONOCENOS A PROFUNDIDAD</h1>
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus ex ut laoreet consequat. In venenatis justo tellus, vel lobortis massa accumsan sed.</p>
        <a class="btn-lg px-5 py-3 btn-blue" href="">Contáctanos</a>
    </section>
{% endblock %}
