{% extends "_main.twig" %}
{% block body %}
    <header class="hero">
        <picture>
            <source media="(max-width: 768px)" srcset="https://via.placeholder.com/500x400">
            <source media="(min-width: 769px)" srcset="https://via.placeholder.com/1900x550">
            <img src="https://via.placeholder.com/1900x550">
        </picture>
        <div class="overlay"></div>
        <h2 class="title text-center mb-5">JRF MARINA</h2>
    </header>
    <main>
        <section class="container pt-5 mt-md-5 text-center" id="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus ex ut laoreet consequat. In venenatis justo tellus, vel lobortis massa accumsan sed. Morbi eu ligula sollicitudin, laoreet odio a, varius mi. Mauris rhoncus mauris vel accumsan pulvinar. Donec faucibus dapibus nisi, a condimentum risus. Vestibulum facilisis libero eu dapibus blandit. Pellentesque tempus urna quam, eu lacinia tellus blandit eu. Integer ultricies tellus vitae varius cursus.</p>
        </section>
        <section class="container-fluid pt-5 mt-md-5">
            <div class="grid">
                <div class="grid-item">
                    <a data-fancybox="gallery" href="https://via.placeholder.com/120x250">
                        <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/120x250">
                    </a>
                </div>
                <div class="grid-item grid-item--width2">
                    <a data-fancybox="gallery" href="https://via.placeholder.com/120x250">
                        <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x250">
                    </a>
                </div>
                <div class="grid-item grid-item--height2">
                    <a data-fancybox="gallery" href="https://via.placeholder.com/120x250">
                        <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x122">
                    </a>
                </div>
                <div class="grid-item grid-item--height2">
                    <a data-fancybox="gallery" href="https://via.placeholder.com/120x250">
                        <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x122">
                    </a>
                </div>
                <div class="grid-item">
                    <a data-fancybox="gallery" href="https://via.placeholder.com/120x250">
                        <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/120x250">
                    </a>
                </div>
                <div class="grid-item grid-item--width2">
                    <a data-fancybox="gallery" href="https://via.placeholder.com/120x250">
                        <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x250">
                    </a>
                </div>
                <div class="grid-item">
                    <a data-fancybox="gallery" href="https://via.placeholder.com/120x250">
                        <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/120x250">
                    </a>
                </div>
                <div class="grid-item grid-item--width2">
                    <a data-fancybox="gallery" href="https://via.placeholder.com/120x250">
                        <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x250">
                    </a>
                </div>
                <div class="grid-item">
                    <a data-fancybox="gallery" href="https://via.placeholder.com/120x250">
                        <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/120x250">
                    </a>
                </div>
                <div class="grid-item grid-item--height2">
                    <a data-fancybox="gallery" href="https://via.placeholder.com/120x250">
                        <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x122">
                    </a>
                </div>
                <div class="grid-item grid-item--height2">
                    <a data-fancybox="gallery" href="https://via.placeholder.com/120x250">
                        <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x122">
                    </a>
                </div>
            </div>
        </section>

        <section class="container-fluid py-5 my-md-5" id="store">
            <div class="row">
                <div class="col-12 col-md-6 swiper-container order-2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img alt="" class="w-100 img-fluid" src="https://via.placeholder.com/800x350">
                        </div>
                        <div class="swiper-slide">
                            <img alt="" class="w-100 img-fluid" src="https://via.placeholder.com/800x350">
                        </div>
                        <div class="swiper-slide">
                            <img alt="" class="w-100 img-fluid" src="https://via.placeholder.com/800x350">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="col-12 col-md-6 pt-2 pt-md-5 px-auto px-md-5 order-1 order-md-2 text-center text-md-left">
                    <h2>JRF MARINE & TRADING</h2>
                    <p class="pr-auto pr-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus ex ut laoreet consequat. In venenatis justo tellus, vel lobortis massa  accumsan sed. Morbi eu ligula sollicitudin, laoreet odio a, varius mi. Mauris rhoncus mauris vel accumsan pulvinar. Donec faucibus dapibus nisi, a  condimentum risus. Vestibulum facilisis libero eu dapibus blandit. Pellentesque tempus urna quam, eu lacinia tellus blandit eu. Integer ultricies tellus vitae varius cursus.</p>
                </div>
            </div>
        </section>

        <section class="container-fluid text-center pb-5 mb-md-5">
            <h1>JRF MARINE &amp; TRADING</h1>
            <div class="row mt-4 justify-content-center">
                <div class="col-auto mb-2">
                    <img alt="" class="w-100 img-fluid" src="https://via.placeholder.com/150x60">
                </div>
                <div class="col-auto mb-2">
                    <img alt="" class="w-100 img-fluid" src="https://via.placeholder.com/150x60">
                </div>
                <div class="col-auto mb-2">
                    <img alt="" class="w-100 img-fluid" src="https://via.placeholder.com/150x60">
                </div>
                <div class="col-auto mb-2">
                    <img alt="" class="w-100 img-fluid" src="https://via.placeholder.com/150x60">
                </div>
                <div class="col-auto mb-2">
                    <img alt="" class="w-100 img-fluid" src="https://via.placeholder.com/150x60">
                </div>
            </div>
        </section>

        <section class="container-fluid background-blue floating-section px-0 my-md-5 pt-3" id="contactBanner">
            <div class="row no-gutters">
                <div class="col-12 col-lg-6 text-center text-lg-left px-3 px-md-5 pt-md-5 pb-5">
                    <h1 class="text-white">CONTÁCTANOS</h1>
                    <p class="text-white pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus ex ut laoreet consequat. In venenatis justo tellus.</p>
                    <a class="btn-lg px-5 py-3 btn-white" href="{{ contactInfo.btn.link }}">Contáctanos</a>
                </div>
                <div class="col-12 col-lg-6">
                    <img alt="" class="img-fluid w-100" src="https://via.placeholder.com/900x300">
                </div>
            </div>
        </section>
    </main>
{% endblock %}
