{% extends "_main.twig" %}
{% block body %}
    <header class="hero">
        <picture>
            <source media="(max-width: 768px)" srcset="https://via.placeholder.com/500x400">
            <source media="(min-width: 769px)" srcset="https://via.placeholder.com/1900x550">
            <img src="https://via.placeholder.com/1900x550">
        </picture>
        <div class="overlay"></div>
        <h2 class="title text-center mb-5">MARINA V&amp;V</h2>
    </header>
    <main>
        <section class="container pt-5 mt-md-5 text-center" id="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus ex ut laoreet consequat. In venenatis justo tellus, vel lobortis massa accumsan sed. Morbi eu ligula sollicitudin, laoreet odio a, varius mi. Mauris rhoncus mauris vel accumsan pulvinar. Donec faucibus dapibus nisi, a condimentum risus. Vestibulum facilisis libero eu dapibus blandit. Pellentesque tempus urna quam, eu lacinia tellus blandit eu. Integer ultricies tellus vitae varius cursus.</p>
        </section>
        <section class="container-fluid pt-5 mt-md-5">
            <div class="grid">
                <div class="grid-item">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/120x250">
                </div>
                <div class="grid-item grid-item--width2">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x250">
                </div>
                <div class="grid-item grid-item--height2">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x122">
                </div>
                <div class="grid-item grid-item--height2">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x122">
                </div>
                <div class="grid-item">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/120x250">
                </div>
                <div class="grid-item grid-item--width2">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x250">
                </div>
                <div class="grid-item">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/120x250">
                </div>
                <div class="grid-item grid-item--width2">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x250">
                </div>
                <div class="grid-item">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/120x250">
                </div>
                <div class="grid-item grid-item--height2">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x122">
                </div>
                <div class="grid-item grid-item--height2">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x122">
                </div>
            </div>
        </section>

        <section class="pt-5 mt-md-5" id="services">
            <div class="container text-center mb-5 pb-1">
                <h1>SERVICIOS</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus ex ut laoreet consequat. In venenatis justo tellus, vel lobortis massa accumsan sed. Morbi eu ligula sollicitudin, laoreet odio a, varius mi. Mauris rhoncus mauris vel accumsan</p>
            </div>
            <div class="container-fluid text-center">
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-3 mb-5">
                        <img alt="" class="img-fluid" src="https://via.placeholder.com/70">
                        <h4 class="mb-0 mt-2">Almacenamiento</h4>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 mb-5">
                        <img alt="" class="img-fluid" src="https://via.placeholder.com/70">
                        <h4 class="mb-0 mt-2">Almacenamiento</h4>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 mb-5">
                        <img alt="" class="img-fluid" src="https://via.placeholder.com/70">
                        <h4 class="mb-0 mt-2">Almacenamiento</h4>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 mb-5">
                        <img alt="" class="img-fluid" src="https://via.placeholder.com/70">
                        <h4 class="mb-0 mt-2">Almacenamiento</h4>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 mb-5">
                        <img alt="" class="img-fluid" src="https://via.placeholder.com/70">
                        <h4 class="mb-0 mt-2">Almacenamiento</h4>
                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="container-fluid pb-5 mb-md-5" id="store">
            <div class="row mb-md-5">
                <div class="col-12 col-md-6 swiper-container order-2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img alt="" class="w-100 img-fluid" src="https://via.placeholder.com/800x450">
                        </div>
                        <div class="swiper-slide">
                            <img alt="" class="w-100 img-fluid" src="https://via.placeholder.com/800x450">
                        </div>
                        <div class="swiper-slide">
                            <img alt="" class="w-100 img-fluid" src="https://via.placeholder.com/800x450">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="col-12 col-md-6 pt-2 pt-md-5 px-auto px-md-5 order-1 order-md-2 text-center text-md-left">
                    <h2>V&amp;V Store</h2>
                    <p class="pr-auto pr-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus ex ut laoreet consequat. In venenatis justo tellus, vel lobortis massa  accumsan sed. Morbi eu ligula sollicitudin, laoreet odio a, varius mi. Mauris rhoncus mauris vel accumsan pulvinar. Donec faucibus dapibus nisi, a  condimentum risus. Vestibulum facilisis libero eu dapibus blandit. Pellentesque tempus urna quam, eu lacinia tellus blandit eu. Integer ultricies tellus vitae varius cursus.</p>
                    <div class="d-inline-block">
                        <ul class="column-count-2">
                            <li class="mr-5">Servicio</li>
                            <li class="mr-5">Servicio</li>
                            <li class="mr-5">Servicio</li>
                            <li class="mr-5">Servicio</li>
                            <li class="mr-5">Servicio</li>
                            <li class="mr-5">Servicio</li>
                            <li class="mr-5">Servicio</li>
                            <li class="mr-5">Servicio</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="container-fluid background-blue floating-section px-0 my-md-5 pt-3" id="contactBanner">
            <div class="row no-gutters">
                <div class="col-12 col-lg-6 text-center text-lg-left px-3 px-md-5 pt-md-5 pb-5">
                    <h1 class="text-white">CONTÁCTANOS</h1>
                    <p class="text-white pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus ex ut laoreet consequat. In venenatis justo tellus.</p>
                    <a class="btn-lg px-5 py-3 btn-white" href="{{ contactInfo.btn.link }}">Contáctanos</a>
                </div>
                <div class="col-12 col-lg-6">
                    <img alt="" class="img-fluid w-100" src="https://via.placeholder.com/900x300">
                </div>
            </div>
        </section>

        <section class="container-fluid pt-5 mt-md-5 mb-5 px-0" id="store">
            <div class="row no-gutters">
                <div class="col-12 col-md-6 order-2">
                    <img alt="" class="w-100 img-fluid" src="https://via.placeholder.com/800x350">
                </div>
                <div class="col-12 col-md-6 pt-2 px-3 pt-md-5 px-auto px-md-5 order-1 order-md-2 text-center text-md-left">
                    <h1>UBICACIÓN</h1>
                    <p class="pr-auto pr-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus ex ut laoreet consequat. In venenatis justo tellus, vel lobortis massa  accumsan sed. Morbi eu ligula sollicitudin, laoreet odio a, varius mi. Mauris rhoncus mauris vel accumsan pulvinar. Donec faucibus dapibus nisi, a  condimentum risus. Vestibulum facilisis libero eu dapibus blandit. Pellentesque tempus urna quam, eu lacinia tellus blandit eu. Integer ultricies tellus vitae varius cursus.</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
