{% extends "_main.twig" %}
{% block body %}
    <header class="hero">
        <picture>
            <source media="(max-width: 768px)" srcset="https://via.placeholder.com/500x400">
            <source media="(min-width: 769px)" srcset="https://via.placeholder.com/1900x550">
            <img src="https://via.placeholder.com/1900x550">
        </picture>
        <div class="overlay"></div>
        <h2 class="title text-center mb-5">MARINA V&amp;V</h2>
    </header>
    <main>
        <section class="container pt-5 mt-md-5 text-center" id="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus ex ut laoreet consequat. In venenatis justo tellus, vel lobortis massa accumsan sed. Morbi eu ligula sollicitudin, laoreet odio a, varius mi. Mauris rhoncus mauris vel accumsan pulvinar. Donec faucibus dapibus nisi, a condimentum risus. Vestibulum facilisis libero eu dapibus blandit. Pellentesque tempus urna quam, eu lacinia tellus blandit eu. Integer ultricies tellus vitae varius cursus.</p>
        </section>
        <section class="container-fluid pt-5 mt-md-5">
            <div class="grid">
                <div class="grid-item">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/120x250">
                </div>
                <div class="grid-item grid-item--width2">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x250">
                </div>
                <div class="grid-item grid-item--height2">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x122">
                </div>
                <div class="grid-item grid-item--height2">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x122">
                </div>
                <div class="grid-item">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/120x250">
                </div>
                <div class="grid-item grid-item--width2">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x250">
                </div>
                <div class="grid-item">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/120x250">
                </div>
                <div class="grid-item grid-item--width2">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x250">
                </div>
                <div class="grid-item">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/120x250">
                </div>
                <div class="grid-item grid-item--height2">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x122">
                </div>
                <div class="grid-item grid-item--height2">
                    <img class="w-100 h-100 img-fluid" src="https://via.placeholder.com/250x122">
                </div>
            </div>
        </section>

        <section class="text-center container-fluid pt-5 mt-md-5" id="services">
            <h1>SERVICIOS</h1>
        </section>
    </main>
{% endblock %}
